/* Enter your custom styles here */

.border-n{
	 border-bottom : 0px;
}

li[data-nt-useful="false"] .sapMTextMaxLine{
	color: silver !important;
}
.data-nt-useful{
	color: silver !important;
}
.data-nt-useful .sapMTextMaxLine{
	color: silver !important;
}